html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.mceContentBody {background: white !important;color: #000 !important;}

.b-ib {display:inline-block;_overflow:hidden;*zoom:1;*display:inline;vertical-align: top;}


body{
    background-color: #FFFFFF;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;	
}
.b-wrap{
    margin: 0 auto;
    width: 960px;
}
h1{
    font-size: 36px;
    line-height: 40px;
	color: #5A5A5A;
}
a:link, a:visited{
    color: #000000;
}

.b-header{
    background-color: #111111;
    color: #FFFFFF;
    height: 82px;
    padding: 20px 0;
}
.b-header__img{
}
.b-header__title{
    font-size: 54px;
    font-weight: bold;
    line-height: 43px;
	margin: 0 103px;
    text-align: right;
	text-shadow: -1px -1px 6px #EEEEEE;
}
.b-header__title span{
    color: #777777;
    display: block;
    font-size: 30px;
    line-height: 51px;
    text-shadow: -1px -1px 2px #B4B4B4;
}
.b-contacts{
	list-style-type: none;
	margin-right: -30px;	
}
.b-contacts__item{
    color: #979797;
    font-size: 19px;
    line-height: 28px;
    text-shadow: -1px -1px 2px #AAAAAA;
}

.b-nav{
	background: #aaaaaa;
	background: -moz-linear-gradient(top,  #c5c5c5 0%, #aaaaaa 100%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c5c5), color-stop(100%,#aaaaaa), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top,  #c5c5c5 0%,#aaaaaa 100%,#7db9e8 100%);
	background: -o-linear-gradient(top,  #c5c5c5 0%,#aaaaaa 100%,#7db9e8 100%);
	background: -ms-linear-gradient(top,  #c5c5c5 0%,#aaaaaa 100%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #c5c5c5 0%,#aaaaaa 100%,#7db9e8 100%);	
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#c5c5c5', endColorstr='#aaaaaa', GradientType=0);
	zoom: 1;
}
.b-nav__line{
    border-right: 1px solid #E3E3E3;
    height: 24px;
    margin: 6px 0;
    padding: 0;
    vertical-align: middle;
    width: 1px;
	display:inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;	
}
.b-nav__item:link,
.b-nav__item:visited{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
	height: 38px;
	width: 317px;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;	
	display:inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;
}
.b-nav__item:hover,
.b-nav__item_curr{
	background: #ffffff;
	color: #AAAAAA;	
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled='false');
}
.b-nav__item.b-nav__item_last {
    margin-right: -30px;
}
.b-nav__line.b-nav__line_last {
    margin-left: 30px;
    margin-right: -30px;
}

.b-content{
}

.b-footer{
    background-color: #111111;
    color: #FFFFFF;
	height: 60px;
	padding: 10px 0;
}
.b-footer__img{
}
.b-footer__title{
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
}
.b-footer__title span{
    color: #AAAAAA;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.b-footer__contacts{
}


